<h1>I love {{son}} mos</h1>


<h2 style="background-color: {{color}}" >My favourite color is {{color}}</h2>

<h2>My favourite dishes:</h2>
<ul>
	{{#each favDishes}}
		<li>{{this}}</li>
	{{/each}}
</ul>

<h3>My Address is</h3>

{{address.streetName}}
{{address.postalCode}}


