

<h3>Most Popular product</h3>
{{mostPopular.name}}
{{mostPopular.amt}}

<h3>Least Popular product</h3>
{{leastPopular.name}}
{{leastPopular.amt}}

<h3>Most Popular Category</h3>
{{mostPopularCtg.name}}
{{mostPopularCtg.amt}}

<h3>Least Popular Category</h3>
{{leastPopularCtg.name}}
{{leastPopularCtg.amt}}